@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.PaginateButton {
  &__nextPrev,
  &__pageNumb {
    border: none;
    padding: 0.3em 0;
    cursor: pointer;
  }

  &__nextPrev {
    width: 80px;
    background-color: $background-paginationBut;
    color: $main-background;
    border-radius: 5px;
    font-weight: 700;
    transition: all 0.2s ease;

    @include mobile() {
      width: 70px;
    }

    &:hover {
      background-color: $light-green;
      color: black;
    }

    &:disabled {
      background-color: transparent;
      color: $disabled-text;
      cursor: auto;
    }
  }

  &__pageNumb {
    background: transparent;
    width: 2em;
    transition: all 0.2s ease;
    border-radius: 3px;

    &:disabled {
      border: 1px solid $disabled-paginationBut;
      border-radius: 3px;
      color: $disabled-paginationBut;
      font-weight: 700;
      cursor: auto;
    }

    &:hover:not(:disabled) {
      font-weight: 600;
      transform: scale(1.05);
    }

    &_hidden {
      display: none;
    }
  }
}
