$mobile-size: 576px;
$xsmall-size: 450px;
$large-size: 992px;
$middle-size: 768px;

$main-content-width: 1200px;

$main-text: #000000;
$white: #ffffff;
$orange: rgba(238, 163, 24, 0.719);
$red: rgb(255, 0, 0);
$light-green: #a5c926;
$button-green: #a5c926;

//$modal-background: #444242e9;
$main-background: #f8f8f8;
$card-background: #ffffff;

$catolog-card1: #ffc12c;
$catolog-card2: #fb416b;
$catolog-card3: #d941fb;
$catolog-card4: #2c80ff;
//$disabled-paginationBut: rgb(52, 5, 50);
//$background-paginationBut: rgb(52, 5, 50);
//$hover-button: rgb(52, 5, 50);
//$disabled-text: grey;
