$mobile-size: 576px;
$xsmall-size: 450px;
$large-size: 992px;
$middle-size: 768px;

$main-content-width: 1200px;

$main-text: #000000;
$white: #ffffff;
$orange: rgba(238, 163, 24, 0.719);
$red: rgb(255, 0, 0);
$light-green: #a5c926;
$button-green: #a5c926;

//$modal-background: #444242e9;
$main-background: #f8f8f8;
$card-background: #ffffff;

$catolog-card1: #ffc12c;
$catolog-card2: #fb416b;
$catolog-card3: #d941fb;
$catolog-card4: #2c80ff;

$disabled-paginationBut: rgb(52, 5, 50);
$background-paginationBut: rgb(52, 5, 50);
$hover-button: rgb(52, 5, 50);
$disabled-text: grey;

.box:before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #05c926 0%, #ffea00 100%);
  transform: translate3d(0px, 20px, 0) scale(0.95);
  filter: blur(20px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
