$mobile-size: 576px;
$xsmall-size: 450px;
$large-size: 992px;
$middle-size: 768px;

$main-context-width: 1200px;

$main-text: #000000;
$white: #ffffff;
$light-green: #a5c926;
//$modal-background: #444242e9;
$main-background: #f8f8f8;
$card-background: #ffffff;

//$disabled-paginationBut: rgb(52, 5, 50);
//$background-paginationBut: rgb(52, 5, 50);
//$hover-button: rgb(52, 5, 50);
//$disabled-text: grey;
