@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.BasketPage {
  background-color: $main-background;
  &__contentWrapper {
    max-width: $main-content-width;
    margin: 0 auto;
    padding: 50px 20px;
    @include mobile() {
      padding: 20px 10px;
    }
  }
  &__emptyMessage {
    text-align: center;
    min-height: 50vh;
  }

  &__cardsContainer {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }

  &__totalSum,
  &__buyButton {
    background-color: $light-green;
    border-radius: 10px;
    padding: 20px;

    @include mobile() {
      padding: 15px;
    }
  }

  &__totalSum {
    width: 380px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;

    @include mobile() {
      width: 310px;
      margin-bottom: 20px;
    }
  }

  &__buyButton {
    width: 420px;
    display: block;
    margin: 0 auto;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;

    @include mobile() {
      width: 340px;
    }

    &:hover {
      transform: scale(1.05);
      -moz-box-shadow: 0px 0px 15px 3px rgba(16, 21, 22, 0.3);
      -webkit-box-shadow: 0px 0px 15px 3px rgba(16, 21, 22, 0.3);
      box-shadow: 0px 0px 15px 3px rgba(16, 21, 22, 0.3);
    }
  }
}
