@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.CardsSection {
  &__sortFilterContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;

    @include mobile() {
      flex-direction: column;
      column-gap: 40px;
      row-gap: 10px;
    }
  }
}
