@import '../styles/variables.scss';

.PaginationButtons {
  text-align: center;

  &__blind {
    background: transparent;
    border: none;

    &:disabled {
      color: $disabled-text;
    }
  }
}
