@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.ProductCardShort {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 270px;
  height: 328px;
  border-radius: 20px;
  background-color: $white;
  padding: 20px 5px;
  text-align: center;
  transition: all 0.5s ease 0.1s;

  &:hover {
    transform: scale(1.05);
    -moz-box-shadow: 0px 0px 20px 5px rgba(16, 21, 22, 0.3);
    -webkit-box-shadow: 0px 0px 20px 5px rgba(16, 21, 22, 0.3);
    box-shadow: 0px 0px 20px 5px rgba(16, 21, 22, 0.3);
  }

  @include mobile() {
    width: 180px;
    height: 250px;
    padding: 5px 5px 15px 5px;
    border-radius: 10px;
  }

  &__image {
    min-height: 200px;
    img {
      max-width: 182px;
      max-height: 182px;
      border-radius: 10px;
      margin-bottom: 15px;
    }
    @include mobile() {
      min-height: 150px;
      img {
        max-width: 150px;
        max-height: 150px;
        margin-bottom: 0;
      }
    }
  }

  &__description {
    flex: 0 1 100px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;

    @include mobile() {
      flex: 0 1 75px;
    }
  }
}
